<?php

declare(strict_types=1);

/*
 * CalendarApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace CalendarApiLib\Apis;

use CalendarApiLib\Exceptions\ErrorResponseError1Exception;
use CalendarApiLib\Http\ApiResponse;
use CalendarApiLib\Models\CalendarAccessRole;
use CalendarApiLib\Models\CalendarListResponse;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class CalendarListApi extends BaseApi
{
    /**
     * Returns the calendars on the user's calendar list. Use the returned calendar IDs as the calendarId
     * path parameter for event operations.
     *
     * @param int|null $maxResults Maximum number of entries returned on one result page. Default is
     *        100, maximum allowed is 250.
     * @param string|null $minAccessRole The minimum access role for the user in the returned
     *        entries.
     * @param string|null $pageToken Token specifying which result page to return.
     * @param bool|null $showDeleted Whether to include deleted calendar list entries in the result.
     *        Default is false.
     * @param bool|null $showHidden Whether to show hidden entries. Default is false.
     * @param string|null $syncToken Token obtained from the nextSyncToken field returned on the
     *        last page of a previous list request. Makes the result contain only entries that
     *        have changed since then.
     *
     * @return ApiResponse Response from the API call
     */
    public function listCalendarList(
        ?int $maxResults = 100,
        ?string $minAccessRole = null,
        ?string $pageToken = null,
        ?bool $showDeleted = false,
        ?bool $showHidden = false,
        ?string $syncToken = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/users/me/calendarList')
            ->auth('oauth2')
            ->parameters(
                QueryParam::init('maxResults', $maxResults),
                QueryParam::init('minAccessRole', $minAccessRole)
                    ->serializeBy([CalendarAccessRole::class, 'checkValue']),
                QueryParam::init('pageToken', $pageToken),
                QueryParam::init('showDeleted', $showDeleted),
                QueryParam::init('showHidden', $showHidden),
                QueryParam::init('syncToken', $syncToken)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request — invalid parameters or request body.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication required or credentials are invalid.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions for the requested resource.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The requested resource was not found.', ErrorResponseError1Exception::class)
            )
            ->type(CalendarListResponse::class)
            ->returnApiResponse()
            ->mapErrorTypesInApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
