<?php

declare(strict_types=1);

/*
 * CalendarApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace CalendarApiLib\Apis;

use CalendarApiLib\Exceptions\ErrorResponseError1Exception;
use CalendarApiLib\Http\ApiResponse;
use CalendarApiLib\Models\StopChannelRequest;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class ChannelsApi extends BaseApi
{
    /**
     * Stops receiving push notifications for the specified channel. This is required to clean up channels
     * created by the watchEvents operation.
     *
     * @param StopChannelRequest $body Request body for stop a notification channel.
     *
     * @return ApiResponse Response from the API call
     */
    public function stopChannel(StopChannelRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/channels/stop')
            ->auth('oauth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request — invalid parameters or request body.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication required or credentials are invalid.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions for the requested resource.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The requested resource was not found.', ErrorResponseError1Exception::class)
            )
            ->returnApiResponse()
            ->mapErrorTypesInApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
