<?php

declare(strict_types=1);

/*
 * CalendarApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace CalendarApiLib\Apis;

use CalendarApiLib\Exceptions\ErrorResponseError1Exception;
use CalendarApiLib\Http\ApiResponse;
use CalendarApiLib\Models\Channel;
use CalendarApiLib\Models\ConferenceDataVersion;
use CalendarApiLib\Models\Event;
use CalendarApiLib\Models\EventList;
use CalendarApiLib\Models\EventOrderBy;
use CalendarApiLib\Models\EventType;
use CalendarApiLib\Models\SendUpdates;
use CalendarApiLib\Models\WatchRequest;
use CalendarApiLib\Utils\DateTimeHelper;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class EventsApi extends BaseApi
{
    /**
     * Returns events on the specified calendar. Results are paginated and ordered by start time (when
     * singleEvents is true) or by last modification time (default).
     *
     * @param string $calendarId Calendar identifier. To retrieve calendar IDs call the
     *        calendarList.list method. Use the keyword "primary" to access the primary calendar
     *        of the currently logged-in user.
     * @param string[]|null $eventTypes Filter by event type. May be repeated to include multiple
     *        types.
     * @param string|null $iCalUid Specifies an iCalendar UID to search for. Only one event with the
     *        given UID will be returned.
     * @param int|null $maxAttendees The maximum number of attendees to include in the response. If
     *        there are more attendees, only the participant is returned.
     * @param int|null $maxResults Maximum number of events returned on one result page. The number
     *        of events in the resulting page may be less than this value. Default is 250, maximum
     *        allowed is 2500.
     * @param string|null $orderBy The order of the events returned in the result. When using
     *        orderBy with startTime, singleEvents must be true.
     * @param string|null $pageToken Token specifying which result page to return.
     * @param string|null $privateExtendedProperty Extended property constraint specified as
     *        propertyName=value. Matches only private properties.
     * @param string|null $q Free text search terms to find events matching these terms in the
     *        summary, description, location, attendee's displayName, and attendee's email.
     * @param string|null $sharedExtendedProperty Extended property constraint specified as
     *        propertyName=value. Matches only shared properties.
     * @param bool|null $showDeleted Whether to include deleted events (with status equals
     *        "cancelled") in the result. Default is false.
     * @param bool|null $showHiddenInvitations Whether to include hidden invitations in the result.
     *        Default is false.
     * @param bool|null $singleEvents Whether to expand recurring events into instances and only
     *        return single one-off events and instances of recurring events. Default is false.
     * @param string|null $syncToken Token obtained from the nextSyncToken field returned on the
     *        last page of results from the previous list request. Makes the result contain only
     *        entries that have changed since then. Cannot be used together with iCalUID, orderBy,
     *        privateExtendedProperty, q, sharedExtendedProperty, timeMin, timeMax, or updatedMin.
     * @param \DateTime|null $timeMax Upper bound (exclusive) for an event's start time to filter
     *        by. Must be an RFC3339 timestamp with mandatory time zone offset.
     * @param \DateTime|null $timeMin Lower bound (exclusive) for an event's end time to filter by.
     *        Must be an RFC3339 timestamp with mandatory time zone offset.
     * @param string|null $timeZone Time zone used in the response. Defaults to the time zone of the
     *        calendar.
     * @param \DateTime|null $updatedMin Lower bound for an event's last modification time (RFC3339
     *        timestamp) to filter by.
     *
     * @return ApiResponse Response from the API call
     */
    public function listEvents(
        string $calendarId,
        ?array $eventTypes = null,
        ?string $iCalUid = null,
        ?int $maxAttendees = null,
        ?int $maxResults = 250,
        ?string $orderBy = null,
        ?string $pageToken = null,
        ?string $privateExtendedProperty = null,
        ?string $q = null,
        ?string $sharedExtendedProperty = null,
        ?bool $showDeleted = false,
        ?bool $showHiddenInvitations = false,
        ?bool $singleEvents = false,
        ?string $syncToken = null,
        ?\DateTime $timeMax = null,
        ?\DateTime $timeMin = null,
        ?string $timeZone = null,
        ?\DateTime $updatedMin = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/calendars/{calendarId}/events')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('calendarId', $calendarId)->required(),
                QueryParam::init('eventTypes', $eventTypes)->serializeBy([EventType::class, 'checkValue']),
                QueryParam::init('iCalUID', $iCalUid),
                QueryParam::init('maxAttendees', $maxAttendees),
                QueryParam::init('maxResults', $maxResults),
                QueryParam::init('orderBy', $orderBy)->serializeBy([EventOrderBy::class, 'checkValue']),
                QueryParam::init('pageToken', $pageToken),
                QueryParam::init('privateExtendedProperty', $privateExtendedProperty),
                QueryParam::init('q', $q),
                QueryParam::init('sharedExtendedProperty', $sharedExtendedProperty),
                QueryParam::init('showDeleted', $showDeleted),
                QueryParam::init('showHiddenInvitations', $showHiddenInvitations),
                QueryParam::init('singleEvents', $singleEvents),
                QueryParam::init('syncToken', $syncToken),
                QueryParam::init('timeMax', $timeMax)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('timeMin', $timeMin)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('timeZone', $timeZone),
                QueryParam::init('updatedMin', $updatedMin)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request — invalid parameters or request body.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication required or credentials are invalid.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions for the requested resource.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The requested resource was not found.', ErrorResponseError1Exception::class)
            )
            ->type(EventList::class)
            ->returnApiResponse()
            ->mapErrorTypesInApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates an event on the specified calendar.
     *
     * @param string $calendarId Calendar identifier. To retrieve calendar IDs call the
     *        calendarList.list method. Use the keyword "primary" to access the primary calendar
     *        of the currently logged-in user.
     * @param Event $body Request body for create an event.
     * @param int|null $conferenceDataVersion Version number of conference data supported by the API
     *        client. Version 0 assumes no conference data support. Version 1 enables support for
     *        copying of ConferenceData as well as creating new conferences using createRequest.
     * @param int|null $maxAttendees The maximum number of attendees to include in the response.
     * @param string|null $sendUpdates Whether to send notifications about the creation of the new
     *        event.
     * @param bool|null $supportsAttachments Whether the API client performing the operation
     *        supports event attachments. Default is false.
     *
     * @return ApiResponse Response from the API call
     */
    public function createEvent(
        string $calendarId,
        Event $body,
        ?int $conferenceDataVersion = ConferenceDataVersion::ENUM_0,
        ?int $maxAttendees = null,
        ?string $sendUpdates = null,
        ?bool $supportsAttachments = false
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/calendars/{calendarId}/events')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('calendarId', $calendarId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required(),
                QueryParam::init('conferenceDataVersion', $conferenceDataVersion)
                    ->serializeBy([ConferenceDataVersion::class, 'checkValue']),
                QueryParam::init('maxAttendees', $maxAttendees),
                QueryParam::init('sendUpdates', $sendUpdates)->serializeBy([SendUpdates::class, 'checkValue']),
                QueryParam::init('supportsAttachments', $supportsAttachments)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request — invalid parameters or request body.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication required or credentials are invalid.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions for the requested resource.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The requested resource was not found.', ErrorResponseError1Exception::class)
            )
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Conflict — an event with the given ID already exists.',
                    ErrorResponseError1Exception::class
                )
            )
            ->type(Event::class)
            ->returnApiResponse()
            ->mapErrorTypesInApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates an event using patch semantics. Each patch request consumes three quota units. Only fields
     * specified in the request body are modified; unspecified fields remain unchanged. Array fields, if
     * specified, overwrite existing arrays entirely.
     *
     * @param string $calendarId Calendar identifier. To retrieve calendar IDs call the
     *        calendarList.list method. Use the keyword "primary" to access the primary calendar
     *        of the currently logged-in user.
     * @param string $eventId Event identifier.
     * @param Event $body Request body for update an event.
     * @param int|null $conferenceDataVersion Version number of conference data supported by the API
     *        client.
     * @param int|null $maxAttendees The maximum number of attendees to include in the response.
     * @param string|null $sendUpdates Whether to send notifications about the event update.
     * @param bool|null $supportsAttachments Whether the API client performing the operation
     *        supports event attachments.
     *
     * @return ApiResponse Response from the API call
     */
    public function patchEvent(
        string $calendarId,
        string $eventId,
        Event $body,
        ?int $conferenceDataVersion = ConferenceDataVersion::ENUM_0,
        ?int $maxAttendees = null,
        ?string $sendUpdates = null,
        ?bool $supportsAttachments = false
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/calendars/{calendarId}/events/{eventId}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('calendarId', $calendarId)->required(),
                TemplateParam::init('eventId', $eventId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required(),
                QueryParam::init('conferenceDataVersion', $conferenceDataVersion)
                    ->serializeBy([ConferenceDataVersion::class, 'checkValue']),
                QueryParam::init('maxAttendees', $maxAttendees),
                QueryParam::init('sendUpdates', $sendUpdates)->serializeBy([SendUpdates::class, 'checkValue']),
                QueryParam::init('supportsAttachments', $supportsAttachments)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request — invalid parameters or request body.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication required or credentials are invalid.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions for the requested resource.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The requested resource was not found.', ErrorResponseError1Exception::class)
            )
            ->type(Event::class)
            ->returnApiResponse()
            ->mapErrorTypesInApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes an event from the specified calendar.
     *
     * @param string $calendarId Calendar identifier. To retrieve calendar IDs call the
     *        calendarList.list method. Use the keyword "primary" to access the primary calendar
     *        of the currently logged-in user.
     * @param string $eventId Event identifier.
     * @param string|null $sendUpdates Guests who should receive notifications about the deletion of
     *        the event.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteEvent(string $calendarId, string $eventId, ?string $sendUpdates = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/calendars/{calendarId}/events/{eventId}')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('calendarId', $calendarId)->required(),
                TemplateParam::init('eventId', $eventId)->required(),
                QueryParam::init('sendUpdates', $sendUpdates)->serializeBy([SendUpdates::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request — invalid parameters or request body.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication required or credentials are invalid.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions for the requested resource.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The requested resource was not found.', ErrorResponseError1Exception::class)
            )
            ->throwErrorOn(
                '410',
                ErrorType::init('Event has already been deleted.', ErrorResponseError1Exception::class)
            )
            ->returnApiResponse()
            ->mapErrorTypesInApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Sets up a push notification channel to watch for changes to events on the specified calendar. When
     * events change, a POST notification is sent to the specified address.
     *
     * @param string $calendarId Calendar identifier. To retrieve calendar IDs call the
     *        calendarList.list method. Use the keyword "primary" to access the primary calendar
     *        of the currently logged-in user.
     * @param WatchRequest $body Request body for watch for event changes.
     * @param string[]|null $eventTypes Filters which event types to watch for changes.
     *
     * @return ApiResponse Response from the API call
     */
    public function watchEvents(string $calendarId, WatchRequest $body, ?array $eventTypes = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/calendars/{calendarId}/events/watch')
            ->auth('oauth2')
            ->parameters(
                TemplateParam::init('calendarId', $calendarId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required(),
                QueryParam::init('eventTypes', $eventTypes)->serializeBy([EventType::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request — invalid parameters or request body.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Authentication required or credentials are invalid.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions for the requested resource.',
                    ErrorResponseError1Exception::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The requested resource was not found.', ErrorResponseError1Exception::class)
            )
            ->type(Channel::class)
            ->returnApiResponse()
            ->mapErrorTypesInApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
